<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>印象山财，山东财经大学校园应用</title>
    <!--<link rel="icon" href="/favicon.png" type="image/png">-->
    <link rel="stylesheet" href="public/css/homepage.css" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="weixin" class="notice"><p>你似乎正在使用微信内置的浏览器，点击右上角的菜单，选择“在浏览器打开”，才可以正常下载哦！</p></div>
<div class="promo">
    <div class="container">
        <div class="app android clearfix">
            <div class="app-info"><h1>印象山财，</h1>

                <h2>山东财经大学校园应用</h2>

                <p>这里，充满友爱与热情</p>

                <p>这里，处处洋溢着喜悦的气氛</p>

                <p>印象山财，开启数字化校园新时代</p>

                <p><img src="public/images/qrcode.png" width="100"></p></div>
            <div class="app-img">
                <div class="inner">
                    <div class="device android">
                        <div class="innerDevice">
                            <div class="screen">
                                <div id="androidImage"></div>
                            </div>
                            <div class="camera"></div>
                            <div class="grill"></div>
                            <div class="home"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-download">
                <div class="android mobileapp"><h3>印象山财 for Android</h3>
                    <p class="tip">兼容 Android 4.0 以上版本的系统</p><a href="http://anyu2u.sinaapp.com/latest.apk" class="btn">直接下载<h4>APK 文件</h4></a>
                </div>
                <div class="ios mobileapp"><h3>印象山财 for iOS</h3>
                    <p class="tip">兼容 iOS 6.0 以上版本的系统</p><a href="https://appsto.re/cn/jrgI1.i" class="btn">直接下载<h4>App Store</h4></a>
                </div>
                <div class="web mobileapp"><h3>印象山财 for Web</h3>
                    <p class="tip"></p><a href="http://www.yinxiangshancai.com/public/webapp/" class="btn">直接进入<h4>点击跳转</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features clearfix">
    <div class="container"><h2 class="title">中国最好用的大学校园类应用</h2>

        <div class="feature lifestyle">
            <div class="icon"></div>
            <h3>印象山财，是一种生活方式</h3>

            <p>三万师生人共同的选择</p></div>
        <div class="feature friend">
            <div class="icon"></div>
            <h3>同学就是要一起用印象山财</h3>

            <p>用最简单的方式，与不同校区的同学交流</p></div>
        <div class="feature nearby">
            <div class="icon"></div>
            <h3>印象山财，总有新奇在身边</h3>

            <p>进入印象山财的世界，结识校园里有趣的人</p></div>
        <div class="feature fun">
            <div class="icon"></div>
            <h3>印象山财，让沟通更有趣</h3>

            <p>让身边充满基/姬情</p></div>
    </div>
</div>
<div class="voices clearfix">
    <div class="container"><h2 class="title">倍受多方青睐，来自真实用户的评价</h2>

        <div class="voice one">
            <div class="avatar"><img src="public/images/teacher.png"></div>
            <div class="name">李老师</div>
            <div class="talk">“终于知道哪些小盆友背后说我坏话了，等着吧，期末考试让你们知道我的厉害！”</div>
        </div>
        <div class="voice two">
            <div class="avatar"><img src="public/images/dazhuang.png"></div>
            <div class="name">王大壮</div>
            <div class="talk">“以前总挂微积分，总是烦恼重修不过，开始使用印象山财之后就不用担心了，因为发现大家都过不了。”</div>
        </div>
        <div class="voice three">
            <div class="avatar"><img src="public/images/peipei.png"></div>
            <div class="name">佩佩</div>
            <div class="talk">“自从用了印象山财，再也不用担心没学妹勾搭啦！”</div>
        </div>
    </div>
</div>
<div id="baidutongji">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd19b4ca2233567abd36939480ac624af' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<div class="footer clearfix">
    <div class="copyright container">
        <div class="left"><p>&copy; EiND Studio ♥ by WildCat <span class="privacy-policy"><a href="privacy_policy">隐私政策</a></span></p></div>
        <div class="right"><p>Shandong University of Finance & Economics</p></div>
    </div>
</div>
<script src="public/js/index.js"></script>
<div class="tongji">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5907707'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5907707' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>